html {
    scroll-behavior: smooth;
  }
  
body{
    box-sizing: border-box;
    margin: 0;
    font-family: nunito;
}

h1{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}

.navbar{
    display: none;
}

.navbar h1{
    color: aliceblue;
    font-weight: 900;
    font-size: 2em;
    margin: 0;
}

.navbar ul {
    display: flex;
    gap: 2rem;
    margin: 0;
}

.navbar ul li{
    list-style-type: none;
}

.navbar ul li a{
    text-decoration: none;
    color: aliceblue;
}

nav{
    background-color: rgb(28, 28, 28);
    display: flex;
    padding: 1em 8em;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left:0;
    z-index: 1;
}

nav h1{
    color: aliceblue;
    font-weight: 900;
    font-size: 2em;
    margin: 0;
}

nav ul {
    display: flex;
    gap: 2rem;
    margin: 0;
}

nav ul li{
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: aliceblue;
}

button{
    background-color: transparent;
    color: #FFD700;
    border: 0.1em solid #FFD700;
    border-radius: 0.5em;
    padding: 0.5em 1em;
}

button:hover{
    background-color: #FFD700;
    color: #303030;
}

.menu {
    height: max-content;
    align-self: center;
}

section {
    background-color: rgb(28, 28, 28);
}

section:nth-child(odd){
    background-color:rgb(43, 43, 43) ;
}

section h1 {
    color: aliceblue;
}

section p{
    color: antiquewhite;
}

section a{
    text-decoration: none;
    color: inherit;
}

.container {
    padding: 1em 8em;
    margin: 0;
}

.title {
    text-align: center;
}

.underline {
    border-bottom: 3px solid #FFD700;
    border-radius: 0 0 10px 0;
    width: max-content;
    padding: 0 5px 0 0;
    margin: 0 auto 30px;
}

#home{
    display: flex;
    justify-content: space-between;
    padding-top: 6em;
}

.profile{
    width: 40%;
    border-radius: 1em;
}

#home h1{
    padding-top: 2em;
    font-size: 2em;
}

#home p{
    font-size: 3em;
}

#home span{
    color: #FFD700;
}

#home p:nth-child(3){
    font-size: 1em;
    margin-bottom: 1em;
}

#aboutMe{
    display: flex;
    justify-content: space-between;
}

.aboutMe{
    padding: 7em;
}

.frame{
    border: 0.3em solid #FFD700;
    border-radius: 1em;
    height: fit-content;
    align-self: center;
}

.frame img{
    border-radius: 1em;
    width: 100%;
    position: relative;
    left: 1em;
    bottom: 1em;
}

.aboutMe p{
    margin-bottom: 2em;
}

#mySkills{
    padding-top: 2em;
    padding-bottom: 2em;
}

.grid-container{
    display: grid;
    gap: 2em;
    justify-content: center;
}

.grid-item{
    text-align: center;
    border-radius: 1em;
    background-size: cover;
    width: 20em;
    padding: 4em 0;
    background-blend-mode:multiply ;
    background-color: rgb(95, 95, 95);
}

.grid-item:hover{
    background-color: rgb(45, 45, 45);
}

.item1{
    background-image: url(img/programming.jpg);
}

.item1:hover p{
    color: rgb(237, 159, 64);
}

.item2{
    background-image: url(img/Coding1.jpg);
    grid-column: 2;
}

.item2:hover p {
    color:rgb(50, 93, 233)
}

.item3{
    background-image: url(img/Coding2.jpg);
}

.item3:hover p {
    color: rgb(50, 93, 233)
}

.item4{
    background-image: url(img/Coding3.jpg);
}

.item4:hover p {
    color: rgb(50, 233, 50)
}

#projects {
    padding-bottom: 50px;
}

.project-item1 {
    background-image: url(img/portfolio.png);
}

.project-item2 {
    grid-column: 2;
    background-image: url(img/Elearning.png);
}

.projects1:hover .fa-html5{
    color: orange;
}

.projects1:hover .fa-css3-alt{
    color: rgb(81, 113, 227);
}

.projects1:hover .fa-js{
    color: yellow
}

.projects2:hover .fa-react {
    color:rgb(64, 114, 207);
}

.projects2:hover .fa-node-js {
    color:rgb(83, 207, 64);
}

.icon-project {
    color: white;
}

.contact{
    text-align: center;
}

.contact p:nth-child(2){
    margin-bottom: 2em;
}

.contact p{
    margin-bottom: 1em;
}

.contact .bg-icon{
    background-color:rgb(59, 58, 58) ;
    padding: 0.3em 0.5em;
    margin: 1em 0;
    border-radius: 0.5em;
}

.contact i{
    color: #FFD700;
}

#contact a{
    text-decoration: none;
    color: aliceblue;
}

#contact a:hover{
    color: #FFD700;
}

footer{
    background-color:rgb(43, 43, 43);
}

footer p {
    margin: 0;
    padding: 1em 1em;
    text-align: center;
    color: aliceblue;
}

@media (max-width: 865px){
    .profile{
        height: 240px;
        width: 240px;
    }
    
    #aboutMe{
        padding-top: 3em;
        flex-direction: column;
    }

    .frame{
        height: 240px;
    }

    .frame img{
        height: 240px;
    }

    .aboutMe{
        padding: 0.3em;
    }
}

@media (max-width:760px){
    .navbar{
        background-color: rgb(28, 28, 28);
        display: block;
        padding: 1em 3em;
    }

    .navbar div{
        display: flex;
        justify-content: space-between;
    }

    .navbar div a{
        text-decoration: none;
        color: aliceblue;
        padding-top: 0.25em;
        font-size: 1.5em;
    }

    .navbar ul{
        display: none;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    
    nav{
        display: none;
    }

    #home{
        padding-top: 1em;
    }

    .container{
        padding: 1em 3em;
    }

    
    #aboutMe{
        flex-direction: column;
    }

    .aboutMe{
        padding: 0.3em;
    }
}

@media (max-width:660px){
    .navbar{
        display: block;
    }

    .navbar h1{
        text-align: center;
    }

    .container{
        padding: 1em 3em;
    }

    #home{
        flex-direction: column;
        padding-top: 50px;
    }

    #home img{
        align-self: center;
    }

    #home button{
        margin-bottom: 2em;
    }

    #aboutMe{
        flex-direction: column;
    }

    .aboutMe{
        padding: 0.3em;
    }

    .grid-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}