body{
    box-sizing: border-box;
    margin: 0;
    font-family: nunito;
}

h1{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}

.navbar{
    display: none;
}

.navbar h1{
    color: aliceblue;
    font-weight: 900;
    font-size: 2em;
    margin: 0;
}

.navbar ul {
    display: flex;
    gap: 2rem;
    margin: 0;
}

.navbar ul li{
    list-style-type: none;
}

.navbar ul li a{
    text-decoration: none;
    color: aliceblue;
}

nav{
    background-color: rgb(28, 28, 28);
    display: flex;
    padding: 1em 8em;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left:0;
    z-index: 1;
}

nav h1{
    color: aliceblue;
    font-weight: 900;
    font-size: 2em;
    margin: 0;
}

nav ul {
    display: flex;
    gap: 2rem;
    margin: 0;
}

nav ul li{
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: aliceblue;
}

button{
    background-color: transparent;
    color: goldenrod;
    border: 0.1em solid goldenrod;
    border-radius: 0.5em;
    padding: 0.5em 1em;
}

button:hover{
    background-color: rgb(200, 149, 21);
    color: aliceblue;
}

.menu {
    height: max-content;
    align-self: center;
}

section {
    background-color: rgb(28, 28, 28);
}

section:nth-child(odd){
    background-color:rgb(43, 43, 43) ;
}

section h1 {
    color: aliceblue;
}

section p{
    color: antiquewhite;
}

.container {
    padding: 1em 8em;
    margin: 0;
}

#home{
    display: flex;
    justify-content: space-between;
    padding-top: 6em;
}

.profile{
    width: 40%;
}

#home h1{
    padding-top: 2em;
    font-size: 2em;
}

#home p{
    font-size: 3em;
}

#home span{
    color: goldenrod;
}

#home p:nth-child(3){
    font-size: 1em;
    margin-bottom: 1em;
}

#aboutMe{
    display: flex;
    justify-content: space-between;
}

.aboutMe{
    padding: 7em;
}

.frame{
    border: 0.5em solid goldenrod;
    border-radius: 0.1em;
    height: fit-content;
    align-self: center;
}

.frame img{
    width: 100%;
    position: relative;
    left: 2em;
    bottom: 2em;
}

.aboutMe p{
    margin-bottom: 2em;
}

#mySkills{
    padding-top: 5em;
    padding-bottom: 6em;
}

#mySkills h1{
    margin-bottom: 1em;
}

.grid-container{
    display: grid;
    gap: 2em;
    justify-content: center;
}

.grid-item{
    text-align: center;
    border-radius: 0.2em;
    background-size: cover;
    width: 20em;
    padding: 4em 0;
    background-blend-mode:multiply ;
}

.item1{
    background-image: url(img/programming.jpg);
    background-color: rgb(237, 159, 64);
}

.item2{
    background-image: url(img/programming.jpg);
    grid-column: 2;
    background-color: palevioletred;
}

.item3{
    background-image: url(img/Graphic\ designer.png);
    background-color: rgb(46, 93, 112);
}

.item4{
    background-image: url(img/video\ editing.jpg);
    background-color: rgb(31, 167, 31);
}

.contact{
    text-align: center;
}

.contact p:nth-child(2){
    margin-bottom: 2em;
}

.contact p{
    margin-bottom: 1em;
}

.contact .bg-icon{
    background-color:rgb(59, 58, 58) ;
    padding: 0.3em 0.5em;
    margin: 1em 0;
    border-radius: 0.5em;
}

.contact i{
    color: goldenrod;
}

#contact a{
    text-decoration: none;
    color: aliceblue;
}

#contact a:hover{
    color: goldenrod;
}

footer{
    background-color:  rgb(28, 28, 28);
}

footer p {
    margin: 0;
    padding: 1em 1em;
    text-align: center;
    color: aliceblue;
}

@media (max-width: 865px){
    .profile{
        height: 240px;
        width: 240px;
    }
    
    #aboutMe{
        padding-top: 3em;
        flex-direction: column;
    }

    .frame{
        height: 240px;
    }

    .frame img{
        height: 240px;
    }

    .aboutMe{
        padding: 0.3em;
    }
}

@media (max-width:760px){
    .navbar{
        background-color: rgb(28, 28, 28);
        display: block;
        /* flex-direction: column;
        justify-content: space-between;
        align-items: center; */
        padding: 1em 3em;
    }

    .navbar div{
        display: flex;
        justify-content: space-between;
    }

    .navbar div a{
        text-decoration: none;
        color: aliceblue;
        padding-top: 0.25em;
        font-size: 1.5em;
    }

    .navbar ul{
        display: none;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    
    nav{
        display: none;
    }

    #home{
        padding-top: 1em;
    }

    .container{
        padding: 1em 3em;
    }

    
    #aboutMe{
        flex-direction: column;
    }

    .aboutMe{
        padding: 0.3em;
    }
}

@media (max-width:660px){
    .navbar{
        display: block;
    }

    .navbar h1{
        text-align: center;
    }

    .container{
        padding: 1em 3em;
    }

    #home{
        flex-direction: column;
        padding-top: 50px;
    }

    #home img{
        align-self: center;
    }

    #home button{
        margin-bottom: 2em;
    }

    #aboutMe{
        flex-direction: column;
    }

    .aboutMe{
        padding: 0.3em;
    }

    .grid-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .grid-item{
        margin-bottom: 2em;
    }
}